[submodule "remotetwo-gateway"]
	path = remotetwo-gateway
	url = https://github.com/trachvik/remotetwo-gateway.git
[submodule "remotetwo-fw"]
	path = remotetwo-fw
	url = https://github.com/trachvik/remotetwo-fw.git
[submodule "remotetwo-hw"]
	path = remotetwo-hw
	url = https://github.com/trachvik/remotetwo-hw
